@page "/Login"
@inject IAuthService authService
@inject NavigationManager NavManager

<h1>Auth Page</h1>

<h4>Login</h4>

<EditForm Model="@newPerson" OnValidSubmit="@LoginPerson">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="emailAddress">Email:</label>
        <InputText id="emailAddress" @bind-Value="newPerson.Email" />
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <InputText id="password" @bind-Value="newPerson.Password" type="password" />
    </div>

        <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    private UserLoginDto newPerson = new UserLoginDto();

    private async Task LoginPerson()
    {
        //ProductController person = new ProductController();
        //person.insertPeople(newPerson);
        @* this.Http.Post *@
        @* Http.postAsync(); *@
        if(await this.authService.LoginPerson(newPerson) != null)
        {
            NavManager.NavigateTo("/", true);
        }
    }
}
