@page "/person"
@inject IPersonService personService
@inject ILocalStorageService _localStorageService
@inject NavigationManager NavManager

<h1>People Page</h1>

<h4>Insert New Person</h4>
<EditForm Model="@newPerson" OnValidSubmit="@InsertPerson">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="firstName">firstName:</label>
        <InputText id="firstName" @bind-Value="newPerson.firstName" />
    </div>
    <div class="form-group">
        <label for="lastName">lastName:</label>
        <InputText id="lastName" @bind-Value="newPerson.lastName" />
    </div>
    <div class="form-group">
        <label for="emailAddress">emailAddress:</label>
        <InputText id="emailAddress" @bind-Value="newPerson.email" />
    </div>


        <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    private Person newPerson = new Person();

    protected override async Task OnInitializedAsync() {
        if (await _localStorageService.GetItem<string>("token") == null) {
            NavManager.NavigateTo("/Login", true);
        }
    }

    private async Task InsertPerson()
    {
        //ProductController person = new ProductController();
        //person.insertPeople(newPerson);
        @* this.Http.Post *@
        @* Http.postAsync(); *@
        await this.personService.InsertPerson(newPerson);
    }
}
