@page "/register"
@inject IAuthService authService

<h1>Auth Page</h1>

<h4>Get Registered</h4>

<EditForm Model="@newPerson" OnValidSubmit="@RegisterPerson">
    <DataAnnotationsValidator />

    <ValidationSummary />
    <div class="form-group">
        <label for="firstName">firstName:</label>
        <InputText id="firstName" @bind-Value="newPerson.FirstName" />
    </div>

    <div class="form-group">
        <label for="lastName">lastName:</label>
        <InputText id="lastName" @bind-Value="newPerson.LastName" />
    </div>

    <div class="form-group">
        <label for="emailAddress">emailAddress:</label>
        <InputText id="emailAddress" @bind-Value="newPerson.Email" />
    </div>

    <div class="form-group">
        <label for="password">password:</label>
        <InputText id="password" @bind-Value="newPerson.Password" type="password" />
    </div>
        <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

    @code {
        private UserRegistrationDto newPerson = new UserRegistrationDto();

        private async Task RegisterPerson()
        {
            //ProductController person = new ProductController();
            //person.insertPeople(newPerson);
            @* this.Http.Post *@
            @* Http.postAsync(); *@
            await this.authService.RegisterPerson(newPerson);
        }
    }
